* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    background: #242526;
    position: fixed;
    width: 100%;
    height: 65px;
    line-height: 65px;
}
nav .wrapper {   
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}
.wrapper .nav_links {
    display: inline-flex;
}
.nav_links > li > a {
    color: #fff;
    padding: 0 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.nav_links li a:hover {
    background: #3a3b3c;
}
.nav_links .drop_menu {
    background: #242526;
    width: 150px;
    top: 65px;
    line-height: 45px;
    position: absolute;
    visibility: hidden;
}
.nav_links li:hover .drop_menu{
    visibility: inherit;
}
.drop_menu li a {
    color: #fff;
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
}
